@charset "utf-8";
/* CSS Document */

body,html{ font: normal 14px/40px "Microsoft YaHei","微软雅黑"; line-height:24px;} 
.navbar-default{ background-color:#FFF;border-color: #FFF;}
.top-bor{ border-top:#d73929 solid 6px;}
.navbar{ min-height:90px;}
.navbar-brand img{ width:180px;}
.pull-right-left{float:right!important;}
.navbar-nav>li>a{ padding-top:40px; padding-bottom:0px; padding-left:0px; padding-right:0px; margin-left:15px; margin-right:15px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{color: #555;background-color: transparent;border-bottom:#d73929 solid 3px;}
.div-padding{ padding-top:50px; padding-bottom:40px;}
.row-img img {display: block;max-width: 100%;min-height:155px;}
.row-img p{ line-height:24px; font-size:12px;}
.row-img a{ text-decoration:none; color:#666;}
.row-img h4{ color:#000; padding-top:6px; padding-bottom:8px;}
.index-college-bg{ height:auto; background:url(../img/yuanxiaobg.jpg) center top no-repeat; margin:0 auto;}
.item-img{  width:100%;min-height:509px; background:center top no-repeat;}
.item-img-list{width:100%;min-height:400px; background:center top no-repeat;}
.container-hight{min-height:664px;}
.padding-h4{padding-top:10px; padding-bottom:10px; padding-left:10px;}
.padding-top-16{ padding-top:20px; padding-bottom:50px;}
.padding-top-20{ padding-top:20px; padding-bottom:20px;}
.pandding-20{ padding:30px;}
.margin-bt-50{ margin-bottom:50px;}
.list-bgimg-01,.list-bgimg-02,.list-bgimg-03,.list-bgimg-04{ background:url(../img/listbj.png);}
.list-bgimg-01{ background-position:-0px -0px;line-height:24px; margin-top:120px; margin-left:40px;  height:180px;}
.list-bgimg-02{ background-position:-500px -430px;line-height:24px;margin-top:120px;height:180px;}
.list-bgimg-03{ background-position:-4px -650px;line-height:24px;margin-left:40px;margin-top:60px;height:180px;}
.list-bgimg-04{ background-position:-500px -650px;line-height:24px;margin-top:60px;height:180px;}
.list-bgimg-01 h4,.list-bgimg-02 h4,.list-bgimg-03 h4,.list-bgimg-04 h4{ color:#000; padding-left:150px;}
.list-bgimg-01 p,.list-bgimg-02 p,.list-bgimg-03 p,.list-bgimg-04 p{ color:#666; padding-left:150px;  width:400px;}

.index-future{ background:url(../img/index_pxdt_bj.png) center no-repeat; padding:0px 60px; line-height:24px; min-height:373px}
.index-future h4{ text-align:center; padding-top:120px;}
.index-future p{ padding-top:40px;}
.foot-bg{ background:#333;}
.foot-text{ text-align:center; color:#FFF}
.foot-text h2{ padding-bottom:15px;}
.foot-text p{ line-height:24px; font-size:12px;}

.border-bt{ border-bottom:1px solid #CCC;}
.border-l{ border-left:1px solid #CCC;}
.border-r{ border-right:1px solid #CCC;}
.border-t{ border-top:1px solid #CCC;}

.bg-f6{ background-color:#F6F6F6}
.bg-ff{ background-color:#FFF}
.crumbs{ color:#999; font-size:16px; padding-top:30px; padding-bottom:30px;}
.crumbs a{ color:#d73929}


@media screen and (max-width : 900px){
	.navbar{ min-height: inherit; margin-bottom:auto;}
	.navbar-brand{ height:auto;}
	.pull-right-left{float: none !important}
	.navbar-brand img{ width:100px;}
.navbar-nav>li>a{ padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:0px; margin-left:0px; margin-right:0px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{color: #555;background-color:#ccc;border-bottom:none;}
.row-img img {display: block;max-width: 100%;min-height:inherit;}
.item-img{ width:100%;min-height:210px; background:center top no-repeat;}
.item-img-list{width:100%;min-height:190px; filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
-moz-background-size:100% 100%;  
    background-size:100% 100%;}
.container-hight{min-height: inherit;}
.index-college-bg{  background:none;}
.list-bgimg-01,.list-bgimg-02,.list-bgimg-03,.list-bgimg-04{ background:none; padding:0px; margin:0px; height:auto;}
.list-bgimg-01 h4,.list-bgimg-02 h4,.list-bgimg-03 h4,.list-bgimg-04 h4{ color:#000; padding-left:0px;}
.list-bgimg-01 p,.list-bgimg-02 p,.list-bgimg-03 p,.list-bgimg-04 p{ color:#666; padding-left:0px;  width:auto;}
.img-xs img{ width:100%;}
	}

.media-body p{ color:#999; font-size:12px;}
.media-body p a{ color:#d73929}
.media-left img{ width:290px; height:140px;}
.li-list { line-height:28px; font-size:12px;}
.li-list li{border-bottom:1px dashed #CCC; padding-top:6px; padding-bottom:6px;}
.li-list li span{ padding-right:4px;}
.li-list li a{color:#666}

.student-list li{ float:left; margin-left:14px; margin-right:10px; margin-bottom:20px; width:30%; background:#fff; border:1px solid #ccc; border-radius:3px; padding:8px;}
.student-list li h5{ padding-bottom:10px; border-bottom:1px solid #ccc; font-weight:bold;}

.wp-time{ width:50px; margin-top:10px; color:#999; font-size:14px;}
.wp-time p{ font-size:20px;}
.media-body a{ text-decoration:none;}
.media-body a h4{ color:#666; font-weight:600;}
.media-body a p font{ color:#d73929}
.tab-flow a{ padding-top:8px; padding-bottom:8px; padding-left:20px; padding-right:20px; margin-right:6px; background:#ECECEC; color:#999; text-decoration:none;}
.tab-flow .active{ color:#FFF; background:#d73929;}
.tab-row .row{ margin-top:10px;}
@media screen and (max-width : 900px){
	.media-left{ display:block;}
	.media-body{display:block;}
	.crumbs{ padding-top:10px; padding-bottom:10px;}
	.pandding-20{ padding:10px;}
	.media-body{ width:auto;}
	.media-left img{ width:100%; max-height:210px;}
	.margin-bt-50{ margin-bottom:10px;}
	.student-list li{ width:100%; margin:0px; margin-bottom:20px;}
	.student-list li img{ width:100%; max-height:202px;}
	.wp-time{ display:none;}
	.tab-row .row .text-right{ text-align:left;}
}  
